@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42; /* slate-950 */
  --background-mid-rgb: 23, 37, 84; /* blue-950 */
  --background-end-rgb: 15, 23, 42; /* slate-950 */
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  background: linear-gradient(
    to right,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-mid-rgb)),
    rgb(var(--background-end-rgb))
  );
}

.header,
.footer {
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.cyan-grad {
  background: linear-gradient(to right, #89faeb, #03bafc);
}
